# dzień pierwszy - bootcamp
___

* Podstawy Linux,
* Podstawy git,
* Python (TODO)

In [2]:
print('Hello world !')

Hello world !

## Podstawowe typy zmiennych w Python
* ciągi znaków (stringi)
* liczby

### Ciągi znaków

In [3]:
zmienna_znakowa = "Hello World !"

In [4]:
print(zmienna_znakowa)

Hello World !

In [5]:
zmienna_znakowa2 = "Hello World \"test\" ! "

In [7]:
zmienna_znakowa

'Hello World !'

### Konkatenacja znaków

#### Sposób 1 na konkatenację znaków
* sposób stary

In [10]:
### Konkatenacja znaków sposób 1 #
zmienna_znakowa + 'Adam'

'Hello World !Adam'

#### Sposób 2

In [12]:
uzytkownik = 'Adam'

In [13]:
print(' {} {} !'.format(zmienna_znakowa, uzytkownik) )

 Hello World ! Adam !

In [14]:
print(' {ciag_znakow} {uzytkownik} !'.format(ciag_znakow=zmienna_znakowa, uzytkownik=uzytkownik) )

 Hello World ! Adam !

In [15]:
print(' {ciag_znakow} {uzytkownik} !'.format(uzytkownik=uzytkownik, ciag_znakow=zmienna_znakowa) )

 Hello World ! Adam !

#### Sposób 3 - f-stringi
* od wersji 3.6 - wiec moze nie dzialac wszedzie

In [17]:
f'{zmienna_znakowa} {uzytkownik}'

'Hello World ! Adam'

#### Slicing - wziecie podciagu danego ciagu

In [18]:
zmienna_znakowa[0:2]

'He'

In [19]:
zmienna_znakowa[1:2]

'e'

In [20]:
zmienna_znakowa[1:11]

'ello World'

* Proba dostania sie poza zakres wyrzuci nam wyjątek (error) !

In [21]:
zmienna_znakowa[2:]

'llo World !'

* Co drugi znak ze stringa

In [22]:
zmienna_znakowa[2: :2]

'loWrd!'

In [23]:
zmienna_znakowa[0: :3]

'HlWl!'

* Ostatni znak w ciagu

In [24]:
zmienna_znakowa[-1]

'!'

In [25]:
zmienna_znakowa[-1] == '!'

True

In [27]:
zmienna_znakowa[-1] = '!'

TypeError: 'str' object does not support item assignment

* stringi w pythonie sa niemutowalne (nie da sie ich zmieniac w ten sposob

In [28]:
zmienna_znakowa[-1] != '!'

False

* != - negacja

* Wyświetlenie dlugosci

In [30]:
len(zmienna_znakowa)

13

In [31]:
type(zmienna_znakowa)

str

* Metody na stringach (stawiam kropkę i wciskam Tab - pokazuja mi sie opcje dostepne)

In [32]:
zmienna_znakowa.lower()

'hello world !'

In [33]:
zmienna_znakowa.upper()

'HELLO WORLD !'

In [34]:
dir(zmienna_znakowa)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

* Help = dir? albo help(dir)

In [36]:
dir?

In [37]:
help(dir)

Help on built-in function dir in module builtins:

dir(...)
    dir([object]) -> list of strings

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

In [38]:
lista_uczestnikow = 'Ewelina, Tomek, Marta'

In [39]:
lista_uczestnikow.find('Tomek')

9

In [40]:
lista_uczestnikow.find?

In [41]:
lista_uczestnikow[9:]

'Tomek, Marta'

In [42]:
lista_uczestnikow.split?

In [50]:
lista_uczestnikow.split(',', -1)

['Ewelina', ' Tomek', ' Marta']

In [55]:
lista_uczestnikow.split(', ')

['Ewelina', 'Tomek', 'Marta']

In [56]:
lista_uczestnikow[0:11]

'Ewelina, To'

In [57]:
lista_uczestnikow.find('Ewelina')

0

In [58]:
print('Hello World!')

Hello World!

In [59]:
print('Hello\nWorld!')

Hello
World!

In [60]:
print('Hello\tWorld!')

Hello	World!

In [64]:
lista_uczestnikow.split(',')[0]

'Ewelina'

In [65]:
lista_uczestnikow[0]

'E'

In [74]:
lista_uczestnikow.split(',', 1)

['Ewelina', ' Tomek, Marta']

In [75]:
lista_uczestnikow.join?

In [76]:
wynik_splita = lista_uczestnikow.split(',')

In [77]:
",".join(wynik_splita)

'Ewelina, Tomek, Marta'

* Jest to operacja w drugą strone - kiedy chce połaczyc to, co wczesniej rozdzielilem

## Zmienne liczbowe
* całkowito liczbowe,
* zmiennoprzecinkowe

# cakłowito liczbowe,
* typ __int__

In [78]:
zmienna_liczba = 8

In [79]:
zmienna_liczba

8

In [80]:
zmienna_tekstowa = '8'

In [82]:
print(zmienna_liczba)

8

In [83]:
print(zmienna_tekstowa)

8

In [84]:
type(zmienna_liczba)

int

In [85]:
type(zmienna_tekstowa)

str

### Operacje na zmiennych liczbowych

In [90]:
zmienna_liczba = zmienna_liczba + 3

In [92]:
zmienna_liczba += 3

In [93]:
zmienna_liczba

17

In [94]:
zmienna_tekstowa + 3

TypeError: must be str, not int

In [95]:
zmienna_tekstowa + '3'

'83'

In [96]:
zmienna_liczba *= 2

In [97]:
zmienna_liczba

34

In [98]:
zmienna_tekstowa * 2

'88'

In [99]:
zmienna_znakowa * 3

'Hello World !Hello World !Hello World !'

In [100]:
pierwszy_uczestnik = 'Ania'

In [101]:
drugi_uczestnik = 'Tomek'

In [107]:
pierwszy_uczestnik, drugi_uczestnik = drugi_uczestnik, pierwszy_uczestnik

In [108]:
drugi_uczestnik

'Ania'

In [109]:
pierwszy_uczestnik

'Tomek'

* mozna to zrobic tez za pomoca list - trzeba to ogarnac

In [147]:
uczestnicy = ({pierwszy_uczestnik}, {drugi_uczestnik})

TypeError: unhashable type: 'set'

uczestnicy[0]

In [121]:
drugi_uczestnik = uczestnicy[0]

In [122]:
drugi_uczestnik

{'Tomek'}

In [124]:
3 ** 2

9

In [125]:
16 ** (1/2)

4.0

In [127]:
import math

In [128]:
math.sqrt(16)

4.0

In [130]:
math.pow(4, 2)

16.0

In [131]:
112 / 3

37.333333333333336

* dzielenie calkowite - podwojny slash

In [132]:
112 // 3

37

* reszta z dzielenia

In [133]:
112 % 3

1

### Typy zmiennoprzecinkowy
* typ __float__

In [134]:
zmienna_float = 3.14

In [135]:
zmienna_e = 2.71

In [136]:
type(zmienna_e)

float

In [137]:
type(zmienna_float)

float

In [138]:
zmienna_float * 2

6.28

In [139]:
math.e

2.718281828459045

In [140]:
round(math.e)

3

In [141]:
round(math.pi, 2)

3.14

In [142]:
round(math.pi)

3

In [143]:
round(math.pi, 0)

3.0

In [144]:
round(math.pi, 3)

3.142

In [145]:
math.pi

3.141592653589793

In [148]:
round(5.5)

6

### Konwersja typów
* zmiana floata na integrer

In [149]:
zmienna_float

3.14

In [150]:
int(zmienna_float)

3

### Listy
* Służą do zapisania wielu elementów np. wielu liczb calkowitych

In [151]:
liczby = [1, 2, 5, 11]

In [152]:
type(liczby)

list

* Slicing na listach

In [153]:
liczby[1: 3]

[2, 5]

In [154]:
len(liczby)

4

In [155]:
1 in liczby

True

In [156]:
6 in liczby

False

In [157]:
6 not in liczby

True

In [159]:
liczby.append(-1)

In [160]:
liczby.append(-8)

In [162]:
liczby.append(6)

In [163]:
liczby

[1, 2, 5, 11, -1, -8, 6]

* Sortowanie listy

In [166]:
liczby.sort(reverse=True)

In [167]:
liczby

[11, 6, 5, 2, 1, -1, -8]

In [168]:
liczby.sort()

In [169]:
liczby

[-8, -1, 1, 2, 5, 6, 11]

In [170]:
sorted(liczby)

[-8, -1, 1, 2, 5, 6, 11]

In [172]:
liczby = sorted(liczby)

In [173]:
liczby

[-8, -1, 1, 2, 5, 6, 11]

In [174]:
lista_plac = [ 4000, 5000, 3000, 8000]

In [176]:
len(lista_plac)

4

In [177]:
lista_plac.pop()

8000

In [178]:
len(lista_plac)

3

In [179]:
lista_plac.extend([8000, 5000])

In [180]:
lista_plac

[4000, 5000, 3000, 8000, 5000]

In [181]:
!whoami

kodolamacz

In [182]:
!ls

Dzien 1.ipynb  README.md

In [183]:
nazwa_uzytkownika = !whoami

In [190]:
print('zalogowny jestes jako ' + nazwa_uzytkownika[0])

zalogowny jestes jako kodolamacz

In [194]:
nazwa_uzytkownika

['kodolamacz']

In [197]:
print('zalogowny jestes jako', lista_plac)

zalogowny jestes jako [4000, 5000, 3000, 8000, 5000]

In [198]:
print('zalogowny jestes jako', lista_plac[2])

zalogowny jestes jako 3000

In [199]:
type(nazwa_uzytkownika)

IPython.utils.text.SList

* PRZYKLAD DO ZADANIA SLAJD 41

In [1]:
!ls

Dzien 1.ipynb  README.md

In [3]:
z = !ls | grep README.md

In [4]:
ilosc = !ls

In [5]:
ilosc

['Dzien 1.ipynb', 'README.md']

In [6]:
len(ilosc)

2

In [8]:
pwd

'/home/kodolamacz/code/sages_13102018'

In [9]:
sciezka = !pwd

In [14]:
print('w sciezce ' + sciezka[0] + ' jest ' + str(len(ilosc)) + ' pliki')

w sciezce /home/kodolamacz/code/sages_13102018 jest 2 pliki

* to jest przyklad do slajdu 41 - DO ANALIZY

In [15]:
!ls -a

.  ..  Dzien 1.ipynb  .git  .gitignore	.ipynb_checkpoints  README.md

In [16]:
ilosc_dwa = !ls -a

In [17]:
len(ilosc_dwa)

7

In [18]:
!ls -al

razem 76
drwxrwxr-x 4 kodolamacz kodolamacz  4096 paź 14 14:04 .
drwxrwxr-x 3 kodolamacz kodolamacz  4096 paź 13 14:44 ..
-rw-rw-r-- 1 kodolamacz kodolamacz 49517 paź 14 14:04 Dzien 1.ipynb
drwxrwxr-x 8 kodolamacz kodolamacz  4096 paź 14 09:54 .git
-rw-rw-r-- 1 kodolamacz kodolamacz    20 paź 13 16:14 .gitignore
drwxr-xr-x 2 kodolamacz kodolamacz  4096 paź 13 16:03 .ipynb_checkpoints
-rw-rw-r-- 1 kodolamacz kodolamacz    16 paź 13 14:46 README.md

* to powyzej to ilosc plikow i katalogow

In [19]:
!ls -l

razem 56
-rw-rw-r-- 1 kodolamacz kodolamacz 50449 paź 14 14:08 Dzien 1.ipynb
-rw-rw-r-- 1 kodolamacz kodolamacz    16 paź 13 14:46 README.md

In [20]:
z = !ls -a

In [21]:
z

['.',
 '..',
 'Dzien 1.ipynb',
 '.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'README.md']

In [22]:
type(z)

IPython.utils.text.SList

In [23]:
z[0]

'.'

In [25]:
z.remove('.git')

In [26]:
z

['.', '..', 'Dzien 1.ipynb', '.gitignore', '.ipynb_checkpoints', 'README.md']

### Tuple
* jest podobna do list; (ale piszemy ja w zwyklych nawiasasch a nie kwadratowych jak w listach)
* jest niemutowalna (nie da sie zmienić)

In [27]:
dni = ('pon', 'wto', 'sr', 'cz', 'pt')

In [28]:
len(dni)

5

In [30]:
dni[1]

'wto'

### Słowniki

In [32]:
slownik = {}

In [33]:
type(slownik)

dict

In [37]:
slownik = {1: 'Ewelina', 22: 'Tomek', 13: 'Marta'}

In [38]:
print(slownik)

{1: 'Ewelina', 22: 'Tomek', 13: 'Marta'}

In [40]:
slownik[13]

'Marta'

In [41]:
slownik[22]

'Tomek'

* wyswietlenie kluczy slownika

In [42]:
slownik.keys()

dict_keys([1, 22, 13])

In [43]:
slownik.values()

dict_values(['Ewelina', 'Tomek', 'Marta'])

In [44]:
slownik.items()

dict_items([(1, 'Ewelina'), (22, 'Tomek'), (13, 'Marta')])

In [45]:
slownik[12] = 'Adam'

In [46]:
slownik

{1: 'Ewelina', 12: 'Adam', 13: 'Marta', 22: 'Tomek'}

In [47]:
del slownik[12]

In [48]:
slownik

{1: 'Ewelina', 13: 'Marta', 22: 'Tomek'}

# Sety

In [49]:
moj_zbior = {1, 2, 2, 3, 9}

In [50]:
moj_zbior

{1, 2, 3, 9}

In [51]:
moja_lista = [1, 2, 2, 3, 9]

In [52]:
moja_lista

[1, 2, 2, 3, 9]

In [53]:
list(set(moja_lista))

[1, 2, 3, 9]

In [54]:
A = {1, 2, 2, 3, 9}
B = {3, 9, 6, 7, 8}

* suma zbiorów

In [55]:
A | B

{1, 2, 3, 6, 7, 8, 9}

* róznica

In [56]:
A - B

{1, 2}

In [57]:
B - A

{6, 7, 8}

* czesc wspólna

In [58]:
A & B

{3, 9}

### Wartość pusta
* analogiczna do nulla

In [59]:
A = None
temperatury = {17, 20, 21, 18, 30, None}

In [60]:
A

In [61]:
type(A)

NoneType

In [62]:
str(A)

'None'

In [63]:
temperatury.sort()

AttributeError: 'set' object has no attribute 'sort'

In [64]:
temperatury.remove(None)

In [70]:
temperatury

{17, 18, 20, 21, 30}

In [75]:
sum(temperatury)

106

In [76]:
min(temperatury)

17

In [77]:
max(temperatury)

30

In [79]:
import statistics

In [80]:
statistics.mean(temperatury)

21.2

# Instrukcje warunkowe
* sterowanie wykonaniem programu (if-y)

In [83]:
a = 4
b = 4

if a < b:
    print('zmienna a jest mniejsza od b')
elif a > b:
    print('zmienna a jest wieksza od b')
else:
    print('zmienne sa sobie rowne')

zmienne sa sobie rowne

In [84]:
if a==b:
    print('sa sobie rowne')

sa sobie rowne

In [85]:
imie = 'Norbert'

In [106]:
wzrost = 1.83

In [107]:
waga = 70

In [108]:
BMI = waga / ((wzrost) ** 2)

In [109]:
BMI

20.902385858042937

In [110]:
if BMI < 18:
    print('ponizej normy')
elif 18 < BMI < 25:
    print('w normie')
else:
    print('powyzej normy')

w normie

# Pętle
* for,
* while

In [111]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [112]:
for i in range(2, 10):
    print(i)

2
3
4
5
6
7
8
9

In [113]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

In [114]:
for i in range(2, 10, 3):
    print(i)

2
5
8

In [115]:
len(temperatury)

5

In [117]:
temperatury = {17, 20, 21, 18, 30}

In [119]:
for element in temperatury:
    print('temperatura wynosi {}'.format(element))

temperatura wynosi 17
temperatura wynosi 18
temperatura wynosi 20
temperatura wynosi 21
temperatura wynosi 30

### Petla While

In [121]:
i = 0
while i < 10:
    print('zmienna i wynosi {}'.format(i))
    i += 1

zmienna i wynosi 0
zmienna i wynosi 1
zmienna i wynosi 2
zmienna i wynosi 3
zmienna i wynosi 4
zmienna i wynosi 5
zmienna i wynosi 6
zmienna i wynosi 7
zmienna i wynosi 8
zmienna i wynosi 9

# List comprehension

In [122]:
lista_elementow = []

for i in range(100):
    lista_elementow.append(i)

In [123]:
lista_elementow

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [124]:
len(lista_elementow)

100

In [125]:
lista_elementow = []

for i in range(100):
    lista_elementow.append(i ** 2)

In [126]:
lista_elementow

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

* Nowa metoda - list comprehension

In [127]:
[ i for i in range(100)]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [132]:
[ i ** 2 for i in range(100) if not (i ** 2) % 2]

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

In [133]:
[ i ** 2 if not i % 2 else 0 for i in range(100)]

[0,
 0,
 4,
 0,
 16,
 0,
 36,
 0,
 64,
 0,
 100,
 0,
 144,
 0,
 196,
 0,
 256,
 0,
 324,
 0,
 400,
 0,
 484,
 0,
 576,
 0,
 676,
 0,
 784,
 0,
 900,
 0,
 1024,
 0,
 1156,
 0,
 1296,
 0,
 1444,
 0,
 1600,
 0,
 1764,
 0,
 1936,
 0,
 2116,
 0,
 2304,
 0,
 2500,
 0,
 2704,
 0,
 2916,
 0,
 3136,
 0,
 3364,
 0,
 3600,
 0,
 3844,
 0,
 4096,
 0,
 4356,
 0,
 4624,
 0,
 4900,
 0,
 5184,
 0,
 5476,
 0,
 5776,
 0,
 6084,
 0,
 6400,
 0,
 6724,
 0,
 7056,
 0,
 7396,
 0,
 7744,
 0,
 8100,
 0,
 8464,
 0,
 8836,
 0,
 9216,
 0,
 9604,
 0]

In [157]:
list_zad = [ i ** 2 for i in range(40) if not (i + 1) % 3]

In [158]:
sum(list_zad)

6838

In [159]:
list_zad

[4, 25, 64, 121, 196, 289, 400, 529, 676, 841, 1024, 1225, 1444]

In [161]:
[ i ** 2 if not i % 2 else -100 for i in range(100) ]

[0,
 -100,
 4,
 -100,
 16,
 -100,
 36,
 -100,
 64,
 -100,
 100,
 -100,
 144,
 -100,
 196,
 -100,
 256,
 -100,
 324,
 -100,
 400,
 -100,
 484,
 -100,
 576,
 -100,
 676,
 -100,
 784,
 -100,
 900,
 -100,
 1024,
 -100,
 1156,
 -100,
 1296,
 -100,
 1444,
 -100,
 1600,
 -100,
 1764,
 -100,
 1936,
 -100,
 2116,
 -100,
 2304,
 -100,
 2500,
 -100,
 2704,
 -100,
 2916,
 -100,
 3136,
 -100,
 3364,
 -100,
 3600,
 -100,
 3844,
 -100,
 4096,
 -100,
 4356,
 -100,
 4624,
 -100,
 4900,
 -100,
 5184,
 -100,
 5476,
 -100,
 5776,
 -100,
 6084,
 -100,
 6400,
 -100,
 6724,
 -100,
 7056,
 -100,
 7396,
 -100,
 7744,
 -100,
 8100,
 -100,
 8464,
 -100,
 8836,
 -100,
 9216,
 -100,
 9604,
 -100]

In [164]:
[ i ** 2 for i in range(100) if not i % 2]

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

# Dictionary comprehension

In [165]:
{ i: 65 + i for i in range (4) }

{0: 65, 1: 66, 2: 67, 3: 68}

In [167]:
{ i: chr(65 + i) for i in range (30) }

{0: 'A',
 1: 'B',
 2: 'C',
 3: 'D',
 4: 'E',
 5: 'F',
 6: 'G',
 7: 'H',
 8: 'I',
 9: 'J',
 10: 'K',
 11: 'L',
 12: 'M',
 13: 'N',
 14: 'O',
 15: 'P',
 16: 'Q',
 17: 'R',
 18: 'S',
 19: 'T',
 20: 'U',
 21: 'V',
 22: 'W',
 23: 'X',
 24: 'Y',
 25: 'Z',
 26: '[',
 27: '\\',
 28: ']',
 29: '^'}

# Funkcje

In [168]:
def funkcja():
    print('pierwsza funkcja')

In [169]:
funkcja()

pierwsza funkcja

In [170]:
def funkcja2():
    print('pierwsza funkcja')
    return 'pierwsza funkcja'

In [171]:
funkcja2()

pierwsza funkcja

'pierwsza funkcja'

In [172]:
a = funkcja()
b = funkcja2()

pierwsza funkcja
pierwsza funkcja

In [173]:
a

In [174]:
type(a)

NoneType

In [175]:
type(b)

str

In [176]:
b

'pierwsza funkcja'

In [178]:
def suma_dwoch_liczb(a, b):
    return a + b

In [179]:
c = suma_dwoch_liczb(2, 3)

In [181]:
print(c)

5

In [182]:
def oblicz_wartosc_fliniowej(x, a=1, b=0):
    return a * x + b

In [183]:
oblicz_wartosc_fliniowej(5, 2,)

10

In [186]:
oblicz_wartosc_fliniowej(5, 2, 5)

15

In [188]:
def imie():
    print ('Norbert')

In [189]:
imie()

Norbert

In [190]:
imie == None

False

In [191]:
lista_zarobkow = [5000, 6000, 6500, 8000]

In [220]:
dzial = 'finanse'

In [221]:
def srednie_zarobki(a, b, c, d):
    return ((a + b + c + d) / 4)

In [222]:
srednie_zarobki(5000, 6000, 6500, 8000)

6375.0

In [223]:
type(srednie_zarobki)

function

In [225]:
print('srednie zarobki w ' + dzial + ' wynosi' + str(srednie_zarobki_adm))

srednie zarobki w finanse wynosi<function srednie_zarobki at 0x7f517032d0d0>

# Generatory
* bardzo podobne do list comprehension
* uzywany aby oszczedzic pamiec
* przydatny gdy pracujemy z bardzo duza liczba danych
* lazy evaluation

In [227]:
( i for i in range (100))

In [228]:
result = ( i for i in range (100))

In [231]:
next(result)

2

In [233]:
for i in result:
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [234]:
next(result)

StopIteration:

In [236]:
result = ( i for i in range(100))

In [ ]:
[ num for num in range()]